body{
    background-color:#000080;
    background-image:url(back.jpg);
    background-repeat: no-repeat;
}

#timer{
    margin:20px auto;
    border:2px solid #C60;
    border-radius:50px;
    box-shadow:2px 2px 4px #444;
    background-image:url("./index1.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#F90;
    width:500px;
    height:610px;
}
#display{
    border:2px solid #000;
    border-radius:50px;
    background-color:#FD3;
    text-align:center;
    font-size:20px;
    margin:20px auto;
    width:400px;
}
#min{
    font-size:60px; 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#sec{
    font-size:60px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#manipulator{
    text-align:center;
}
#resetMemory{
    margin:15px 0 0px;
}

#start{
    width:150px;
    height:50px;
    border-radius:10px;
    border-color:#F63;
    background-color:#F63;
    font-size:25px;
}

#stop{
    width:150px;
    height:50px;
    border-radius:10px;
    border-color:#F63;
    margin-left:30px;
    background-color:#F63;
    font-size:25px;
}
#reset{

    border-radius:10px;
    border-color:#F63;  
    background-color:#F63;
    font-size:15px;
    padding:1px;
}

#memory{

    border-radius:10px;
    border-color:#F63;  
    margin-left:30px;
    background-color:#F63;
    font-size:15px;
    padding:1px;
}

button{
    cursor:pointer;
}
#manipulator > button:hover{
    background-color:#F31;
}

#manipulator > button:active{
    background-color:#F00;
}

#manipulator button:disabled{
    background-color:#C31;
    cursor:default;
}

#timeSetting button{
    margin:0px 10px;
    background-color:#CCC;
    border-color:#CCC;
}
#timeSetting button:hover{
    background-color:#BBB;
}
#timeSetting button:active{
    background-color:#AAA;
}

#min-setting{
    float:left;
    margin:30px 77px;
}
#sec-setting{
    margin:30px auto;
    float:left;
}

#alert{
    clear:left;
    margin:0px 130px;

}
#alert-setting-title{
    margin:10px;
}

#alert-set-button button{
    border-radius:50px;
    border-color:#0D0;
    background-color:#0F0;
}
#alert-set-button button:hover{
    background-color:#0C0;
}
#alert-set-button button:active{
    background-color:#0C0;
}

#alert-set-button button:disabled{
    background-color:#0A0;
    border-color:#0A0;
    cursor:default;
}

#alarm{
    margin:10px 130px;
}
#alarm-setting-title{
    margin:10px;
}

#alarm-set-button button{
    border-radius:50px;
    border-color:#0D0;
    background-color:#0F0;
}
#alarm-set-button button:hover{
    background-color:#0C0;
}
#alarm-set-button button:active{
    background-color:#0C0;
}

#alarm-set-button button:disabled{
    background-color:#0A0;
    border-color:#0A0;
    cursor:default;
}
#alarmstop{
    font-size:30px;
    margin:10px 40px;
}
